{{define "navbar"}}

<nav>
    <div class="nav-wrapper light-blue darken-4">
        <blockquote><a href="#" class="brand-logo">STINEDOC</a></blockquote>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://aucoeur.dev">About</a></li>
            <li><a href="https://github.com/aucoeur">Github</a></li>
        </ul>
    </div>
</nav>

{{end}}
