<!DOCTYPE html>
<html>
<head>
  <title>Go Go Go </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-2">
  <div class="container grey lighten-5 z-depth-2">
    {{ template "navbar"}}
    <div class="container" style="white-space: pre-line;">
        <h3 class="purple-text darken-3" style="margin: 0">{{ .Title }}</h3>
        <p>{{ .Body }}</p>
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
